@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@700&display=swap');
:root{
    --dark: #0c0c0c;
    --white: #fff;
    --purple:  #2939c5 ;
    --gray: #949494;
    --gray2: #46aef7;
  }
h1{
  font-size: 18px;
  margin: 4px;
  margin-left: 13px;
}
.assistent-image{
  width: 50px;
  height: 50px;
  border: 2px solid   #34bfef ;
  border-radius: 50%;
  margin-right: 10px;
}


  body{
    background-color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    display: flex;
    justify-content: center;
    height: 100vh;
  }


.btn-submit{
  background: linear-gradient(#1dd5e6 45%, #46aef7);
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  color: white; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  
}
  .btn-option {
    background-color: transparent;
display: block;
font-family: 'Poppins', sans-serif;
    text-align: center;
font-weight: 600;
    color: #575658;
font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-option2{
  background: #34bfef;
display: block;
  text-align: center;
  width: 10rem;
  height: 13rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-option3 {
  background: #34bfef;
display: block;
width: 10rem;
height: 5rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  .box-questions{
    margin-top: 3rem;
    background-color: var(--white);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 800px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
  }

  .header{
    background: #34bfef;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px 10px 0 0;
    font-size: 1.4rem;
  }
  
  .footer{
    background-color:transparent;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    border: 2px solid   #34bfef ;
  }
  input{
    width: 50%;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
  }

  button:hover{
    cursor: pointer;
    transition: .4s;
    background: #34bfef;
  }
  .header {
    display: flex;
    align-items: center;
  }
  
  .round-image {
    width: 80px;
  height: 80px;
  margin-top: 9px;
  margin-left: -10rem;
  align-items: flex-start;
    border-radius: 50%; 

  }
  #history{
    padding: 1rem;
    overflow: auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }


  .question{
    color: #635d5d;
    font-weight: 700;
  }

 
  .response-message{
    text-align: left;
    width: 13rem;
    font-family: 'Poppins', sans-serif;
    color: #5f0979;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 13;

  }
 
  .box-my-message{
    display: flex;
    justify-content: flex-end;
  }
  
  .box-response-message{
    display: flex;
    justify-content: flex-start;
  }
  
  .my-message,
  .response-message{
    padding: 1rem;
    border-radius: 10px;
    color: white;
    margin: 0;
  }
  
  .my-message{
    text-align: right;
    background: #34bfef;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius:23px;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 0;
  }
  
  .response-message{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #504c4c;
    font-size: 18px;
    width: 23rem;
    box-shadow: 0 2px 4px #34bfef;
    border-top-left-radius: 13px;
    border-top-right-radius:13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 0;
    border: 0.4px solid #34bfef;
  }